<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{common/layouts/default_layout}"
		layout:fragment="content"
 >
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h3>게시글 등록</h3>
	<form name="insertForm" th:action="@{/boardInsert}" 
			method="post" enctype="multipart/form-data">
		<div>
			<label>제목</label>
			<input type="text" name="boardTitle">
		</div>
		<div>
			<label>작성자</label>
			<input type="text" name="boardWriter">
		</div>
		<div>
			<label>내용</label>
			<input type="text" name="boardContent">
		</div>
		<div>
			<label>작성일</label>
			<input type="date" name="regdate">
		</div>
		<div>
			<label>이미지</label>
			<input type="file" name="images" multiple>
		</div>
		<div>
			<button type="submit" >등록</button>
			<button type="button" th:onclick="|location.href='@{/boardlist}'|">목록</button>
		</div>
	</form>
	<script>
		/* 1)$('form[name="insertForm"]').on('submit',boardInsertHandler);
		function boardInsertHandler(event){
			event.preventDefault(); //이벤트 일시정지
			let title = $('inpur[name="boardTitle"]');
			if 문 동일(title.val()=='')
		} */
		//document.querySelector('form[name="insertForm"]');아래 2)
		insertForm.addEventListener('submit',function(event){
			event.preventDefault();
			let title = document.querySelector('input[name="boardTitle"]')
			if(title.value == ''){
				alert('제목은 필수 값입니다.');
				title.focus();
				return;
			}
			
			let writer = document.querySelector('input[name="boardWriter"]');
			if(writer.value == ''){
				alert('작성자는 필수 값입니다.');
				writer.focus();
				return;
			}
			
			insertForm.submit();
		});
	</script>
</body>
</html>